.footer-container {
  width: 100%;
  color: #A09FB1;
  text-align: center;
  font-size: 14px;
  font-family: "Montserrat";
}

.footer-content {
  margin-top: 3srem;
  margin-bottom: 0;
}

.user-info {
  font-weight: bold;
  text-decoration: underline;
}
