.weather-detail-container {
  width: 100%;
  padding: 3rem 1rem;
  background-color: #100e1d;
  color: #e7e7eb;
}

@media (min-width:961px) {
  .weather-detail-container {
    flex: 1;
    padding: 3rem 1rem;
    background-color: #100e1d;
    color: #e7e7eb;
  }
}