.sidebar-container {
  height: auto;
  width: 459px;
  padding-bottom: 52px;
  color: #E7E7EB;
  background-color: #1E213A;
}

.weather-location-selector {
  padding: 42px;
  display: flex;
  justify-content: space-between;
}

.cta-button {
  font-size: 16px;
  color: #E7E7EB;
  padding: 10px 18px;
  background-color: #6E707A;
}

.cta-current-location {
  font-family: 'Material Icons';
  padding: 9px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid #6E707A;
}

.weather-location-selector {
  margin-bottom: 21px;
}

.weather-current-state-container {
  background-image: url("./images/Cloud-background.png");
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 33px;
}

.weather-temperature-container {
  text-align: center;
}

.weather-temperature-value {
  font-size: 144px;
}

.weather-temperature-unit {
  font-size: 36px;
  font-weight: 600;
  color: #A09FB1;
}

.weather-status {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  color: #A09FB1;

  margin-top: 77px;
}

.weather-date-info {
  font-size: 18px;
  color: #88869D;

  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-date-info > span {
  margin: 0 16px;
}

.weather-location-info {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 32px;
  font-size: 18px;
  text-align: center;
  color: #88869D;
}

.place-icon {
  font-family: 'Material Icons';
  margin-right: 9px;
}